.container {
  margin-top: 0px !important;
  width: 100% !important;
  height: 100vh; }
  .container .backtostore {
    margin-bottom: 1rem !important;
    position: absolute;
    top: 5vh; }
    .container .backtostore a {
      text-decoration: none;
      color: #720056;
      position: relative; }
  .container .b-btn a:hover {
    text-decoration: underline; }
  .container .card {
    margin: auto !important;
    background: #ffffff;
    box-shadow: 0px 0px 11px 9px rgba(125, 125, 125, 0.09);
    border-radius: 15px;
    padding: 1rem 13% !important; }
    .container .card .logo {
      margin: 1rem;
      color: white; }
    .container .card .text-p {
      font-size: 16px;
      margin: 1rem 0rem !important; }
    .container .card .list-section {
      background-color: #720056;
      color: #fff;
      margin: auto !important;
      padding: 1rem 3rem !important;
      width: 100%; }
      .container .card .list-section ul,
      .container .card .list-section p,
      .container .card .list-section li {
        text-align: start;
        font-size: 15px;
        color: white; }
    .container .card .proced-button {
      padding: 8px 50px !important;
      border-radius: 5px;
      border: 3px solid #710157;
      background-color: #ffffff;
      color: #710157; }
      .container .card .proced-button:hover {
        color: #fff;
        background-color: #710157; }

.content {
  text-align: justify; }

.content:after {
  content: "";
  display: inline-block;
  width: 100%; }
